<!--
  ~ API - A basic REST API made for tub-aiglart.com
  ~
  ~ Copyright (C) 2019  Oskar Lang
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see https://www.gnu.org/licenses/.
  -->

<Configuration packages="com.tub_aiglart.api">
    <Properties>
        <property name="fileDate">${date:dd-MM-yyyy}</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%d{HH:mm:ss}] [%level] %c{36} » %msg%n</pattern>
            </PatternLayout>
        </Console>
        <File name="LatestLog" append="false">
            <FileName>logs/latest.log</FileName>
            <PatternLayout>
                <pattern>[%d{HH:mm:ss}] [%level] %c{36} - %msg%n</pattern>
            </PatternLayout>
        </File>
        <File name="Log">
            <FileName>logs/${fileDate}.log</FileName>
            <PatternLayout>
                <pattern>[%d{HH:mm:ss}] [%level] %c{36} - %msg%n</pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="Log"/>
            <AppenderRef ref="LatestLog"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
